node_modules/
**/node_modules/
**/**/node_modules/

_old/

**/*.yaml
**/**/*.yaml

**/**/lib/
**/**/dist/
**/**/cert/
**/**/package-lock.json

docker-dump/

application/client-react

*.zip
*.7z
*.tar
*.tar.gz
*.tgz
*.pem
*.pfx
*.cer
*.crt
*.yaml
*.txt
*.mp4
*.jpg
*.jpeg
*.avi
*.mp3
*.wma
*.bak
*.bak.*
*.bak*

docker-compose.yml
