node_modules
node_modules/
**/**/node_modules
**/**/node_modules/

_old
_old/
_old/*

dist
dist/
**/**/dist
**/**/dist/
cert
cert/
**/**/cert
**/**/cert/

docker-dump/mysql-data
docker-dump/mysql-data/

media
media/
application/api/media
application/api/media/

*.zip
*.7z
*.tar
*.tar.gz
*.pem
*.yaml
*.txt
*.mp4
*.jpg
*.jpeg
*.avi
*.mp3
*.wma

docker-compose.yml