node_modules/
**/node_modules/
**/**/node_modules/

_old/

**/**/lib/
**/**/dist/
**/**/cert/
**/**/package-lock.json

docker-dump/
media/

*.zip
*.7z
*.tar
*.tar.gz
*.pem
*.pfx
*.cer
*.crt
*.yaml
*.txt
*.mp4
*.jpg
*.jpeg
*.avi
*.mp3
*.wma

docker-compose.yml