.header__nav {
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--background-color);
}