.cover-image {
    width: 100%;
    max-width: 100%;
    height: 80%;
    // object-fit: cover;
    background-color: transparent;
    // &.v {}
    // &.i {}
    // &.a {}
    &_missing {
        background-color: var(--background-color);
    }
    &_bg {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 99%;
        width: 100%;
        background-size: 300%;
        background-repeat: no-repeat;
        background-position: center;
        // background-position-x: left;
        // background-position-y: center;
        z-index: -1;
        opacity: 0.6;
        // &::before {
        //     content: ' ';
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        //     opacity: 0.6;
        //     background-repeat: no-repeat;
        //     background-position: 50% 0;
        //     background-size: cover;
        // }
    }
    &.error {
        &[alt]:after {  
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            background-color: #fff;
            font-family: 'Helvetica';
            font-weight: 700;
            font-size: 1.25rem;
            padding: 20px;
            line-height: 1.1;  
            text-align: left;
            content: attr(alt);
        }
        background-color: #222;
    }
    // &:before {
    //     content: ' ';
    //     display: block;
    //     position: absolute;
    //     height: 50px;
    //     width: 50px;
    //     background-image: unset;
    //     // background-image: url(ishere.jpg);
    // }
}