.media__queue {
    width: 35px;
    height: 25px;
    margin-left: 10px;
    border: none;
    &--menu {
        text-align: right !important;
        width: 100%;
        height: auto;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.9);
        z-index: calc(var(--header-z-index) + 1);
        > button {    
            font-size: 1rem;
            margin: 15px 15px 15px 0;
            border: none;
            background-color: unset;
        }
        &-content {
            width: 85%;
            // height: 100%;
            margin: 0 auto;
        }
    }
}
