.cast {
    &__button {
        background-image: url('../../../public/media/cast-white.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__modal {
        display: block;
        position: absolute;
        width: 400px;
        height: 250px;
        background: #111;
        top: calc(25% - 125px);
        left: calc(50% - 210px);
        border: 1px solid #fff;
        padding: 15px;
        z-index: 1000;
        &--header {
            > * {
                display: inline-block;
            }
            > h4 {
                margin: 0;
            }
            > .button__close {
                cursor: pointer;
                float: right;
                line-height: 17px;
            }
        }
        &--devices {
            ul {
                padding: 0;
                list-style: none;
                li {
                    padding: 12px 25px;
                    border: 1px solid white;
                    border-right: none;
                    border-left: none;
                    cursor: pointer;
                }
            }
        }
        &--bg {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            content: ' ';
            z-index: 999;
            background: rgba(0,0,0,0.5);
        }
    }
}
