.meta__search {
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    &.active {
        flex-grow: 1;
        > input {
            width: 100%;
        }
    }
    > input,
    > button {
        height: 25px;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    > input {
        padding: 0 0 0 10px;
    }
    > button {
        padding: 0 10px;
    }
    &--dropdown {
        position: absolute;
        top: 25px;
        width: calc(100% - 2px);
        border: 1px solid;
        border-top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: calc(100% - 4px);
        background: var(--background-color);
        p {
            margin: 0;
            padding: 10px 0;
        }
    }
}