.asset_group {
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 25px;
    &:last-of-type {
        padding-bottom: 50px;
    }
    &-title {
        width: calc(100% - 50px);
        margin: 0 25px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        &_link {
            height: 27px;
            margin-left: auto;
            pointer-events: all;
        }
    }
    &-row,
    &-grid {
        pointer-events: all;
        scrollbar-width: 10px;
        &.v > div {
            width: 325px;
            // min-height: 210px;
            img {
                min-height: 180px;
                max-height: 180px;
                aspect-ratio: 16 / 9;
            }
        }
        &.a > div {
            width: 210px;
            // min-height: 240px;
            img {
                min-height: 210px;
                max-height: 210px;
                aspect-ratio: 1 / 1;
            }
        }
        &.i > div {
            width: 215px;
            // min-height: 325px;
            img {
                min-height: 300px;
                max-height: 300px;
                object-fit: scale-down;
                aspect-ratio: 1 / 1;
            }
        }
    }
    &-row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        > div {
            max-width: 100%;
            // min-height: 200px;
            flex: 0 0 auto;
            margin: 0 25px 25px 0;
            white-space: normal;
            &:first-child {
                margin-left: 25px;
            }
        }
    }
    &-grid {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 25px auto;
        overflow-x: hidden;
        overflow-y: auto;
        justify-content: space-between;
        &.v {
            // width: 100% !important;
            margin-bottom: 25px;
            > div {
                width: 100%;
                min-height: 250px;
                // width: 325px;
                img {
                    height: 215px;
                    min-height: 215px;
                    max-height: 215px;
                    aspect-ratio: 16 / 9;
                    margin: 0 auto;
                }
            }
        }
        &.i > div {
            // display: flex;
            width: 200px;
            min-height: 325px;
            img {
                height: 300px;
                min-height: 300px;
                max-height: 300px;
                aspect-ratio: 1 / 1;
            }
        }
    }
}
@media (orientation: landscape) {
    .asset_group-grid {
        &.v > div {
            width: 47%;
            min-height: 165px;
            img {
                min-height: 165px;
                max-height: 165px;
            }
        }
    }
}